    .container {
		width: 70%;
		margin: auto;
		text-align: center;
	}

	.dice {
		text-align: center;
		display: inline-block;
		margin: 10px;
	}

	body {
		background-color: #2d042f;
		margin: 0;
	}

	h1 {
		margin: 30px;
		font-family: "Lobster", cursive;
		text-shadow: 5px 0 #0f243f;
		font-size: 4.5rem;
		color: #bcc6c3;
		text-align: center;
	}

	p {
		font-size: 2rem;
		color: #cad7d3;
		font-family: "Indie Flower", cursive;
	}

	img {
		width: 100%;
	}

	.bottom {
		padding-top: 30px;
	}

	.butn {
		background: #5a065a;
		font-family: "Indie Flower", cursive;
		border-radius: 7px;
		color: #ffff;
		font-size: 30px;
		padding: 16px 25px 16px 25px;
		text-decoration: none;
	}

	.butn:hover {
		background: #1c1d1f;
		text-decoration: none;
	}